{% extends "layout.html" %}
{% block content %}

<div class="hero">

    <h1>Build Better Habits. Build a Better You.</h1>

    <p class="hero-text">
        Success is not built in a day — it’s built daily.
        Habit Builder helps you track your progress, build powerful streaks,
        analyze your behavior patterns, and stay consistent over time.
    </p>

    <p class="hero-text">
        Whether you want to improve productivity, fitness, reading,
        mindfulness, or personal growth — this platform gives you
        behavioral insights to help you stay disciplined.
    </p>

    <p class="hero-text">
        Small actions. Repeated consistently. Lead to massive transformation.
    </p>

    <a href="/register" class="big-button">Get Started 🚀</a>

</div>

{% endblock %}