* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(-45deg, #667eea, #764ba2, #6B73FF, #000DFF);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    display: flex;
    flex-direction: column;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ffd700;
}

.logo {
    font-weight: 700;
    color: white;
    font-size: 22px;
}

.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Style */
.card {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    width: 380px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.3);
    color: white;
    transform: perspective(1000px) rotateX(3deg);
    transition: 0.4s;
}

.card:hover {
    transform: perspective(1000px) rotateX(0deg) scale(1.03);
}

.card h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

/* Button */
.card button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffd700;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: white;
    transform: translateY(-3px);
}

.link-text {
    text-align: center;
    margin-top: 15px;
}

.link-text a {
    color: #ffd700;
    text-decoration: none;
}

.flash {
    text-align: center;
    margin-bottom: 15px;
    color: #ff4c4c;
}

.hero {
    text-align: center;
    color: white;
    max-width: 900px;
    padding: 40px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero-text {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.big-button {
    display: inline-block;
    margin-top: 40px;
    padding: 20px 50px;
    font-size: 26px;
    font-weight: 700;
    background: #ffd700;
    color: black;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.big-button:hover {
    transform: scale(1.08);
    background: white;
}


.habit-link {
    color: #ffd700;
    text-decoration: none;
}

.habit-link:hover {
    text-decoration: underline;
}