body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: #333;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    color: white;
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

input, button {
    padding: 8px;
    margin: 5px;
}